* {
  font-family: Arial, Helvetica, sans-serif !important;
}
  
  body{
    background-image: url('../img/Medicos.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .opciones{
      display: flex;
      text-align: center;
      background: #115679;
      text-decoration: none;
      /* font-size: 30px; */
    }
    .menu li{
      display: inline-block;
      line-height: 35px;
      /* margin: 3 4px; */
      
      text-decoration: none;
    }
    
    .menu li a{
      
      position: relative;
      top: 5px;
      right: -120px;
      color: white;
      text-decoration: none;
      padding: 40px;
    }
    .Cerrar_sesion li{
      display: inline-block;
      line-height: 20px;
      text-decoration: none;
      
    }
    .Cerrar_sesion li a{
      position: relative;
      text-decoration: none;
      color: white;
      top: 12px;
      right: -714px;
    }
  
    .boton{
      background-color: #10A9FF; 
      color: white;
      border: none;
      border-radius: 3px;
      position: relative;
      padding: 6px;
      margin-top: 78%;
      width: 25%;
      
    }
    
    .contenedor_fondo{
      position: relative;
      top: 20px;
      /* display: flex;
      /* padding-top: 4%; */
      width: 85%;
      height: 800px;
      background-color: #b9e2ff71;
      margin: auto;
      border-radius: 11px;
      border-width: 1px;
      border-style: solid;
      border-color: #00000035;
      /* box-shadow: 0 5px 5px rgb(99, 99, 99); */
    }
    .contenedor_izquierdo{
      display: flex;
      flex-direction: column;
      padding-top: -1%;
      width: 37%;
      height: 640px;
      background: transparent;
      gap: 1px;
    }
    .contenedor_foto{
      width: 80%;
      height: 350px;
      background-color: white;
      border-radius: 20px;
      text-align: center;
      margin: auto;
      box-shadow: 0 9px 6px -6px rgb(99, 99, 99);
    }
    .contendor_link{
      width: 80%;
      height: 115px;
      background-color: white;
      border-radius: 20px;
      text-align: center;
      margin: auto;
      box-shadow: 0 9px 6px -6px rgb(99, 99, 99);
    }
    .celda_WhatsApp{
      padding: 6px;
      border-radius: 30px;
      margin-top: 25px;
      border-color: #00000022;
      width: 250px;
    }
    .contenedor-derecho{
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      float: right;
      right: 25px;
      margin: auto;
      border-radius: 30px;
      border-color: #00000035;
      border-width: 1px;
      border-style: solid;
      width: 62%;
      height: 765px;
      bottom: 78%;
      background-color: white;
    }
    .form-label{
      padding: 1rem;
      text-align: center;
      display: flex;
    }
    .img_whats{
      position: relative;
      right: -15px;
      float: left;
      margin-top: 55px;
    }
    .link{
      display: flex;
      justify-content: center;
      position: relative;
      top: 25px;
      font-size: 16px;
      font-weight: bold;
    }
  
    /* .contenedor_derecho{
      float: right;
      width: 50%;
      height: 90px;
      background-color: coral;
    } */
  
    .nombre_doctor{
      margin: auto;
      position: relative;
      top: 250px;
      font-size: small;
      font-weight: bold;
    }
    h2{
      font-size: small;
    }
    .celdas{ 
      display: flex;
      width: 65%;
      border-radius: 30px;
      padding: 3px;
      border-color: #00000022;
    }
    .form-label{
      align-self: flex-start;
      font-weight: bold;
      margin-left: 127px;
    }
  
  